<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- =========================== -->
  <!-- =========JAXB / CXF ========= -->
  <!-- =========================== -->

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

  <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />

  <bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' />



  <!-- =========================== -->
  <!-- =========Servicios  ========= -->
  <!-- =========================== -->


  <jaxrs:server id="capnd" address="/"  >
    <jaxrs:serviceBeans>
      <ref bean="publicationsRest" />
      <ref bean="usersRest" />
    </jaxrs:serviceBeans>
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json" />
      <entry key="xml" value="application/xml" />
    </jaxrs:extensionMappings>
    <jaxrs:providers>
      <ref bean="jaxbProvider" />
      <ref bean="jacksonProvider" />
    </jaxrs:providers>
    <jaxrs:features>
      <cxf:logging />
    </jaxrs:features>
  </jaxrs:server>

  <bean id="publicationsRest" class="main.webservices.PublicationsRest">
    <property name="publicationService" ref="publicationService"/>
  </bean>

  <bean id="usersRest" class="main.webservices.UsersRest">
    <property name="userService" ref="userService" />
  </bean>

  <bean id="vehiclesRest" class="main.webservices.VehiclesRest">
    <property name="vehicleService" ref="vehicleService" />
  </bean>

  <bean id="reservationsRest" class="main.webservices.ReservationsRest">
    <property name="reservationService" ref="reservationService"/>
  </bean>

  <bean id="availabilityRest" class="main.webservices.AvailabilityRest">
    <property name="availabilityService" ref="availabilityService"/>
  </bean>

  <tx:annotation-driven transaction-manager="persistence.transactionManager"	proxy-target-class="true" />

  <!-- =========================== -->
  <!-- =========Persistence  ========= -->
  <!-- =========================== -->

  <!-- PropertyConfigurer -->
  <bean id="persistence.propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath*:hibernate.properties</value>
        <value>classpath*:jdbc.properties</value>
      </list>
    </property>
  </bean>
  <!-- /PropertyConfigurer -->

  <!-- DataSource -->
  <bean id="persistence.dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${jdbc.driverClassName}" />
    <property name="url" value="${jdbc.db.url}" />
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <property name="defaultAutoCommit" value="false" />
    <property name="poolPreparedStatements" value="true" />
    <property name="initialSize" value="20" />
    <property name="maxActive" value="30" />
    <property name="maxIdle" value="25" />
  </bean>
  <!-- /DataSource -->

  <!-- SessionFactory -->
  <bean id="persistence.sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
    <property name="dataSource" ref="persistence.dataSource" />
    <!-- HibernateProperties -->
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        <prop key="hibernate.cglib.use_reflection_optimizer">false</prop>
        <prop key="hibernate.connection.autocommit">false</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>main.model.User</value>
        <value>main.model.Vehicle</value>
        <value>main.model.Publication</value>
        <value>main.model.Reservation</value>
        <value>main.model.Availability</value>
        <value>main.model.Cuil</value>

        <value>main.model.Email</value>
      </list>
    </property>
  </bean>
  <!-- /SessionFactory -->

  <!-- Transaction manager for a single JDBC DataSource -->
  <bean id="persistence.transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="persistence.sessionFactory" />
  </bean>

  <bean name="persistence.jdbcExceptionTranslator"
        class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator">
    <constructor-arg>
      <ref bean="persistence.dataSource" />
    </constructor-arg>
  </bean>
  <!-- /Transaction manager for a single JDBC DataSource -->



  <!-- =========================== -->
  <!-- =========Repositories  ========= -->
  <!-- =========================== -->

  <bean id="persistence.userRepository" class="main.repositories.UserRepository">
    <property name="sessionFactory" ref="persistence.sessionFactory" />
  </bean>

  <bean id="persistence.vehicleRepository" class="main.repositories.VehicleRepository">
    <property name="sessionFactory" ref="persistence.sessionFactory" />
  </bean>

  <bean id="persistence.publicationRepository" class="main.repositories.PublicationRepository">
    <property name="sessionFactory" ref="persistence.sessionFactory" />
  </bean>

  <bean id="persitence.reservationRepository" class="main.repositories.ReservationRepository">
    <property name="sessionFactory" ref="persistence.sessionFactory" />
  </bean>

  <bean id="persistence.availabilityRepository" class="main.repositories.AvailabilityRepository">
    <property name="sessionFactory" ref="persistence.sessionFactory"/>
  </bean>

  <!-- =========================== -->
  <!-- =========App Services  ========= -->
  <!-- =========================== -->

  <bean id="userService" class="main.services.UserService">
    <property name="repository" ref="persistence.userRepository" />
  </bean>

  <bean id="vehicleService" class="main.services.VehicleService">
    <property name="repository" ref="persistence.vehicleRepository" />
    <property name="userService" ref="userService" />
  </bean>

  <bean id="publicationService" class="main.services.PublicationService">
    <property name="repository" ref="persistence.publicationRepository" />
  </bean>

  <bean id="reservationService" class="main.services.ReservationService">
    <property name="repository" ref="persitence.reservationRepository" />
    <property name="userService" ref="userService"/>
    <property name="publicationService" ref="publicationService"/>
  </bean>

  <bean id="availabilityService" class="main.services.AvailabilityService">
    <property name="repository" ref="persistence.availabilityRepository" />
  </bean>

</beans>
